@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e80202;
    overflow: hidden;
    flex-direction: column;
    gap: 1rem;
}
.heart{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #e80202;
    transform: rotate(45deg);
    box-shadow: 20px, 20px 40px rgba(0, 0, 0, 0.2);
}
.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e80202;
    border-radius: 50px;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.1);
}
.heart::after{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #e80202;
    border-radius: 50px;
    box-shadow: -20px 0 20px rgba(0, 0, 0, 0.1);
}

.text{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}   

h1{
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: aliceblue;
}
p{
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: aliceblue;
}
.button{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
a{
    width: 4rem;
    height: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 15px;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: aliceblue;
}
button{
    width: 4rem;
    height: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 15px;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: aliceblue;
    border: none;
}

@media screen and (max-width: 450px){
    .container{
        gap: 4rem;
    }
    h1{
        font-size: 8vw;
    }
    p{
        font-size: 6vw;
    }
    a{
        font-size: 4vw;
    }
    button{
        font-size: 4vw;
    }
}